html{
    height:100%;
}
body{
    margin:0;
    margin-top:-21px;
    height:100%;
    background-image: linear-gradient(to bottom right, rgb(92, 92, 247), rgb(122, 30, 122));
}
#login{
    height:100%;
    display:flex;
}
#login #loginlayout{
    width:fit-content;
    padding-top:150px;
    padding-left:100px;
    text-align: center;
}
#login #loginlayout h1{
    color:black;
    font-family:optima,sans-serif;
    font-size:40px;
}
#login #loginlayout input[type=text],input[type=password]{
    opacity:0.5;
    margin:15px 0px;
    font-size:15px;
    border:2px solid black;
    width:250px;
    height:50px;
    border-radius:10px;
    display: block;
}
#login #loginlayout #password{
    display:inline;
}
#login #loginlayout i{
    color:cornsilk;
}
#login #loginlayout i:hover{
    cursor:pointer;
}
#login #loginlayout input[type=submit]{
    opacity:0.5;
    margin:10px 0px;
    border:2px solid black;
    font-size:15px;
    height:40px;
    width:75px;
    border-radius:7px;
    display:block;
    transition:all 2s ease-out;
}
#login #loginlayout input[type=submit]:hover{
    background-color: black;
    color: white;
    width:250px;
}
#login #loginlayout p{
    color:white;
}
#login #loginlayout p:hover{
    color:black;
    cursor:grab;
}
#login #loginlayout #eye{
    color:black;
}
#login #loginmsg{
    width:550px;
    font-size: 30px;
    padding-left:300px;
    padding-top:80px;
    font-family:"lucida handwriting";
    text-align: center;
}
#login #loginmsg #nomsg{
    font-size: 50px;
}